
.header{
    display: flex;
    justify-content: space-between;
}



.header ul{
    
    display: flex;
    gap: 30px;
    font-size: 20px;
    list-style: none;
    color: black;
    padding: 20px 50px ;
}
.header img{
    width: 190px;
    height: 90px;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: orangered;
}
.main h2{
   
font-size: 72px;
color: white;
padding: 100px;

}
.main a{
    color: white;
    font-size: 20px;
}

.main p{
    margin-top: -100px  ;
    color: white;
    font-size: 25px;
    padding-left: 70px;
}
.hero-video iframe{
   height: 390px;
   width: 515px;
   border-radius: 20px;
   padding-top: 100px;
   margin-left: 100px;
   
}

.hero-video p{
    margin-top: -50px;
    padding: 50px;
    padding-left:-290px;
    margin-left: 50px;
    margin-bottom: 20px;
}

@media screen and ( max-width: 600px){
    body{
        background-color: brown;
    }
}